---
http_interactions:
- request:
    method: get
    uri: https://currencydatafeed.com/api/data.php?currency=USD/BRL&token=6oug4irxocxs9gn42y06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"currency":[{"currency":"USD\/BRL","value":"4.059","date":"2020-01-04
        16:19:01","type":"original"}]}'
  recorded_at: Sat, 04 Jan 2020 13:49:37 GMT
recorded_with: VCR 5.0.0
