---
http_interactions:
- request:
    method: post
    uri: https://api.cloudmersive.com/validate/vat/lookup
    body:
      encoding: UTF-8
      string: '{"VatCode":"1235"}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - 901e09b9-fedf-498d-a1c2-643e928fb9ba
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"CountryCode":"12","VatNumber":"35","IsValid":false,"BusinessName":"","BusinessAddress":"","BusinessBuilding":null,"BusinessStreetNumber":null,"BusinessStreet":null,"BusinessCity":null,"BusinessStateOrProvince":null,"BusinessPostalCode":null,"BusinessCountry":null}'
  recorded_at: Sat, 04 Jan 2020 13:49:36 GMT
recorded_with: VCR 5.0.0
